 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);

$gray: hsl(0,0,84);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 50px;
  padding: 10px;
  margin-left: 20px;
}
.entypo-up-bold, .result_Complete{
  color: green;
}


.entypo-down-bold, .result_Incomplete, .result_Metrics-Reduction{
  color: red;
}
.entypo-right-bold{
  color:hsl(44,99,53);
}

[id*= "changelist-"]:before{
  font-family: 'FontAwesome', sans-serif;
}
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.body-container{
  width: 1100px;
  border: 1px solid #cbd5e2;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background: -moz-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,247,251,1)), color-stop(2%, rgba(244,247,251,1)), color-stop(22%, rgba(244,247,251,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
}



/////redo this to be a mixin*****///
.items_rejected, .rejected, #failed{
  border: 1px solid red;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,223,223,1)), color-stop(2%, rgba(251,223,223,1)), color-stop(4%, rgba(252,228,228,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);

a{
  color: red;
}
p{
  color: red;
}
}


.items_accepted, .items_completed, .accepted,
 .complete, #passed {
  border: 1px solid green;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,241,234,1)), color-stop(2%, rgba(237,241,234,1)), color-stop(22%, rgba(237,241,234,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
a{
  color: green;
}
p{
  color:green;
}
}

.items_running, .running {
  border: 1px solid blue;
  background: -moz-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,240,248,1)), color-stop(2%, rgba(235,240,248,1)), color-stop(22%, rgba(235,240,248,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  margin-top: 10px;
  a{
    color: rgba(0,86,191,1);
  }
  p{
    color: rgba(0,86,191,1);
  }
}


.items_pending, .pending{
  border: 1px solid gray;
  color: gray;
  background: -moz-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,241,248,1)), color-stop(2%, rgba(235,241,248,1)), color-stop(22%, rgba(235,241,248,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  margin-top: 10px;
  p, .change_pending{
    color: gray;
  }
}

.titleList{
  font-size: 13px;
  .title{
    padding-top: 20px;
  }
}

.Testing, .titleList{
  list-style-type: none;

span{
  float: left;
  font-size: 15px;
  margin-top:-2px;
}
dt{
  width: 1110px;
  height: 45px;
  margin-top: 7px;

  ul{
    list-style-type: none;
    display: inline;
    overflow:auto;
  }
  li{
  width: 14%;
  float:left;
  text-align: center;
  font-size: 13px;
  padding: 12px;
  height: 45px;

  }
}
dd{

  height: 160px;
  width: 1075px;
  padding: 10px;
  margin: 0;
  color: blue;
  text-align:left;
  margin-bottom: 15px;
  border: none;
  border-top:none;
}
&:last-of-type{
  position: relative;
  top: -1px;
}

.tiles{

  width: 500px;
  height: 45px;
  position: absolute;
  margin-left: 610px;
  margin-top: -18px;
  .tile{
    width: 25%;
    display: inline;
    float: left;
    height: 45px;
  }
  .metrics, .noresult,
  #noresult{

    height: 30px;
    position: absolute;
    margin:5px;
    width: 35px;
    border:1px solid gray;
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(32%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);

  }
  .passed{
   //background-color: green;
   background: -moz-linear-gradient(left, rgba(83,129,53,1) 0%, rgba(83,129,53,1) 38%, rgba(73,135,32,1) 51%, rgba(65,138,17,1) 63%, rgba(136,184,103,1) 81%, rgba(227,227,227,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(83,129,53,1)), color-stop(38%, rgba(83,129,53,1)), color-stop(51%, rgba(73,135,32,1)), color-stop(63%, rgba(65,138,17,1)), color-stop(81%, rgba(136,184,103,1)), color-stop(100%, rgba(227,227,227,1)));
   background: -webkit-linear-gradient(left, rgba(83,129,53,1) 0%, rgba(83,129,53,1) 38%, rgba(73,135,32,1) 51%, rgba(65,138,17,1) 63%, rgba(136,184,103,1) 81%, rgba(227,227,227,1) 100%);
   background: -o-linear-gradient(left, rgba(83,129,53,1) 0%, rgba(83,129,53,1) 38%, rgba(73,135,32,1) 51%, rgba(65,138,17,1) 63%, rgba(136,184,103,1) 81%, rgba(227,227,227,1) 100%);
   background: -ms-linear-gradient(left, rgba(83,129,53,1) 0%, rgba(83,129,53,1) 38%, rgba(73,135,32,1) 51%, rgba(65,138,17,1) 63%, rgba(136,184,103,1) 81%, rgba(227,227,227,1) 100%);
   background: linear-gradient(to right, rgba(83,129,53,1) 0%, rgba(83,129,53,1) 38%, rgba(73,135,32,1) 51%, rgba(65,138,17,1) 63%, rgba(136,184,103,1) 81%, rgba(227,227,227,1) 100%);
  }

  .failed{

    background: -moz-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 30%, rgba(246,41,12,1) 58%, rgba(241,111,92,1) 82%, rgba(242,168,155,1) 93%, rgba(242,168,155,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,56,39,1)), color-stop(30%, rgba(240,47,23,1)), color-stop(58%, rgba(246,41,12,1)), color-stop(82%, rgba(241,111,92,1)), color-stop(93%, rgba(242,168,155,1)), color-stop(100%, rgba(242,168,155,1)));
    background: -webkit-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 30%, rgba(246,41,12,1) 58%, rgba(241,111,92,1) 82%, rgba(242,168,155,1) 93%, rgba(242,168,155,1) 100%);
    background: -o-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 30%, rgba(246,41,12,1) 58%, rgba(241,111,92,1) 82%, rgba(242,168,155,1) 93%, rgba(242,168,155,1) 100%);
    background: -ms-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 30%, rgba(246,41,12,1) 58%, rgba(241,111,92,1) 82%, rgba(242,168,155,1) 93%, rgba(242,168,155,1) 100%);
    background: linear-gradient(to right, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 30%, rgba(246,41,12,1) 58%, rgba(241,111,92,1) 82%, rgba(242,168,155,1) 93%, rgba(242,168,155,1) 100%);
  }

}
}

.progress {
  height:30px;
  width: 35px;
  position: relative;
  background: white;
}
.progress::after, .progress::before {
  height:28px;
  content:' ';
  position: absolute;
  top: 0;
  width: 50%;
}

.progress::after, #progress::after{
  right: 0;

}
.progress::before, #progress{
  left: 0;
  background: -moz-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,25,204,1)), color-stop(46%, rgba(110,106,204,1)), color-stop(97%, rgba(157,155,224,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);

}

//// charts
dd{
.metrics-box,.build-box,.unit-test-box,
.functional-test-box{
  width: 190px;
  margin-top: -10px;
  height: 140px;
  overflow: auto;
  color: #5b9bd5;
  font-size: 12px;
  box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.75);
  display: inline-block;
  background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(32%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 32%, rgba(254,254,254,1) 100%);
  margin-left: 20px;
  transition: all 0.3s ease;
  &:hover{
    box-shadow: 7px 7px 18px 0px rgba(50, 50, 50, 0.75);
  }
 p{
   position: absolute;
   margin: 10px;
   font-weight: bold;
   font-size: 13px;
 }
 .fontawesome-desktop{
   font-size: 55px;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 10px;
   color: #5b9bd5;
   margin-top: 20px;
 }
  li{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding:27px;
  }
  .bar-data{
    color: green;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    margin-top: 105px;
    width: 150px;
    margin-left: 20px;

  }
  .bar-data span{
  width: 150px;
  text-align: center;
    font-size: 9px;
  }

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    margin-top: 105px;
    margin-left: 20px;
    width: 150px;

    height: 26px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #f7cbac;
    border-radius: 2px;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color: #c5e0b3;
    border-radius: 2px;
  }

}


.result-box{
  position: relative;
  width: 190px;
  margin-top: -20px;
  height: 150px;
  font-size: 13px;
  display: inline-block;
  p{
    position: absolute;
    margin-left: 40%;
    color: black;
    margin-top: 8px;
  }
  h2{
    position: absolute;
    text-align: center;
    font-weight: 300;
    width: 100%;
    margin-left: 0;
    font-size: 22px;
    margin-top: 60px;
  }
  #button {
  width: 80%;
  margin-left: 10%;
  position: absolute;
  font-size: 12px;
  margin-top: 90px;
  padding: 5px;
  background-color: #5b9bd5;
  color: white;
  text-align: center;
  }
  select{
    position: absolute;
    margin-top: 130px;
    width: 70%;
    margin-left: 15%;
  }
}
}

.fontawesome-search{
  font-size: 10px;
  margin-left: 15px;
}
.change_rejected, .change_accepted, .change_running,
.change_pending{
  font-size: 9px;
  color: red;
  width: 100%;
  padding-top: 38px;
  text-align: center;
  position: absolute;

}

.change_accepted,.result_Auto-Merged{
  color: hsl(44,99,53);
}

.change_running{
  color: blue;
}
.change_pending{
  color: gray;
}

.result_Complete{
  color: green;
}
#Debug, #Release{
  color: #5b9bd5;
  position: absolute;
}
#divLocal{
  height: 20px;
  width: 100%;
  margin-top: 12px;
  text-align: center;
  color: black;
  font-size: 11px;

}

//pie chart
.pie {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin-top: 35px;
  margin-left: 20px;
  background: #ed7d31;
  border-radius: 100%;
  fill: #70ad47;

}
#bigpercent{
  margin-top: 50px;
  margin-left: 100px;
  font-size: 30px;
  position: absolute;
  color: #a5c946;
  span{
    font-size: 10px;
    color: black;
  }
}



#pretest-info{
  padding-top: 40px;
  text-align: center;
  color: black;
  font-size: 12px;
  button{
    padding: 5px;
    margin-top: 10px;
  }
}

.running-progress{
  margin-bottom: 0;
  overflow: auto;
  height: 100px;
  p{
    font-size: 12px;
    width: 90%;
    margin-left: 5%;
    float: left;
  }
  button{
  margin-left: 10px;
    float: right;
    font-size: 12px;
    padding: 5px;

  }
  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid gray;

    width:  90%;
    margin-left: 5%;
    margin-top: 30px;
    height: 40px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #e4e4e4;
    border-radius: 2px;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background: -moz-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,25,204,1)), color-stop(46%, rgba(110,106,204,1)), color-stop(97%, rgba(157,155,224,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(31,25,204,1) 0%, rgba(110,106,204,1) 46%, rgba(157,155,224,1) 97%, rgba(255,255,255,1) 100%);
    border-radius: 2px;
  }
}

.metrics-arrow-grid{
 height: 110px;
 list-style-type: none;
 margin-top: 25px;
 width: 100%;

#metric-test, #metric-maintainability,
 #metric-security, #metric-workmanship{
  float: left;
  height: 50px;
  width: 50%;
  p{
  width:  100px;
    font-weight: 300;
    color: black;
    margin-left: -2px;
    margin-top: 45px;
    text-align: center;
    font-size: 10px;
  }
  h3, h4{
    position: absolute;
    color: white;
    font-size: 11px;
    margin-left: 43px;
    padding-top: 5px;
    font-weight: 300;
  }
  h4{
    color: black;
  }
}
}

.entypo-down-bold{
  color: red;
}
