 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

$gray: hsl(0,0,84);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.body-container{
  width: 1100px;
  border: 1px solid #cbd5e2;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  background: -moz-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,247,251,1)), color-stop(2%, rgba(244,247,251,1)), color-stop(22%, rgba(244,247,251,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(244,247,251,1) 0%, rgba(244,247,251,1) 2%, rgba(244,247,251,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
}


li{
  margin-top:4px;
}
/////redo this to be a mixin*****///
.items_rejected, .rejected{
  border: 1px solid red;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,223,223,1)), color-stop(2%, rgba(251,223,223,1)), color-stop(4%, rgba(252,228,228,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(251,223,223,1) 0%, rgba(251,223,223,1) 2%, rgba(252,228,228,1) 4%, rgba(255,255,255,1) 100%);

a{
  color: red;
}
}
.items_accepted, .items_completed, .accepted, .complete{
  border: 1px solid green;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,241,234,1)), color-stop(2%, rgba(237,241,234,1)), color-stop(22%, rgba(237,241,234,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(237,241,234,1) 0%, rgba(237,241,234,1) 2%, rgba(237,241,234,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
a{
  color: green;
}

}

.items_running, .running{
  border: 1px solid blue;
  background: -moz-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,240,248,1)), color-stop(2%, rgba(235,240,248,1)), color-stop(22%, rgba(235,240,248,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(235,240,248,1) 0%, rgba(235,240,248,1) 2%, rgba(235,240,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  margin-top: 10px;
  a{
    color: rgba(0,86,191,1);
  }
}


.items_pending, .pending{
  border: 1px solid gray;
  color: gray;
  background: -moz-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,241,248,1)), color-stop(2%, rgba(235,241,248,1)), color-stop(22%, rgba(235,241,248,1)), color-stop(62%, rgba(252,252,252,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(235,241,248,1) 0%, rgba(235,241,248,1) 2%, rgba(235,241,248,1) 22%, rgba(252,252,252,1) 62%, rgba(255,255,255,1) 100%);
  margin-top: 10px;
  a{
    color: $gray;
  }
}
/////////////


// .allCoffees {
//   margin: 50px;
//   dt{
//     height: auto;
//   }
//
//   dt, dd {
//
//     padding: 10px;
//     margin-left: 10px;
//     margin-top:10px;
//     &:last-of-type {
//
//     }
//     a {
//       display: block;
//       color: black;
//       font-weight: bold;
//     }
//   }
//
//   dd {
//     border-top: none;
//     height: 150px;
//
//     margin-top:-1px;
//     margin-left: 10px;
//     font-size: 12px;
//     &:last-of-type {
//
//       position: relative;
//       top: -1px;
//     }
//   }
//   dt:hover{
//
//     border-bottom:none;
//   }
// }


.Testing{
span{
  float: left;
  font-size: 15px;
  margin-top:-2px;
}
dt{
  width: 1110px;
  height: 45px;
  margin-top: 7px;

  ul{
    list-style-type: none;
    display: inline;
    overflow:auto;
  }
  li{
  width: 14%;
  float:left;
  text-align: center;
  font-size: 11px;
  padding: 12px;
  height: 45px;
  //border: 1px dashed red;
  }
}
dd{
  //clear: both;
  height:100px;
  width: 1075px;
  padding: 10px;
  margin: 0;
  color: blue;
  text-align:left;

  border: 1px solid $gray;
  border-top:none;
}
&:last-of-type{
  position: relative;
  top: -1px;
}

.tiles{
  //border: 4px solid gray;
  width: 500px;
  height: 45px;
  position: absolute;
  margin-left: 610px;
  margin-top: -18px;
  .tile{
    width: 25%;

    display: inline;
    float: left;
    height: 45px;

  }
  .metrics, .metrics1,.metrics2,.metrics3,.metrics4, .noresult{

    height: 30px;
    position: absolute;
    margin:5px;
    width: 35px;
    border:1px solid gray;
    background-color: $gray;

  }
  .passed{
   background-color: green;
  }
  .failed{
    background-color: red;
  }
  // .progress{
  //  position: relative;
  //  height: 30px;
  //  width: 35px;
  //  background-color: $gray;
  // }
  // .progress::after{
  //   left: 0;
  //   content: '';
  //   top: 0;
  //   position: absolute;
  //   width: 20px;
  //   background-color: blue;
  // }
}
}
////testing


.progress {
  height:30px;
  width: 35px;

  position:relative;
  background:white;
}
.progress::after, .progress::before {
  height:28px;
  content:' ';
  position: absolute;
  top: 0;
  width: 50%;
}
.progress::after {
  right: 0;
  background-color: $gray;
}
.progress::before {
  left: 0;

  background-color: blue;
}
.bye{
 background-color: yellow;
}
