<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>firewall</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>


   <div class="body-container">
   <div class="titleList">

  <section>
     <dt>
         <ul>
           <li id="name">
            Changelist/Build
             </li>

             <li id="owner"> Owner </li>
             <li id="timestart"> Time Started</li>
             <li id="state"> State</li>
           </ul>
           <div class="tiles">
             <div class="tile">

               <div class="title">
                 Metrics
               </div>
             </div>
             <div class="tile">
               <div class="title">
                 Build
               </div>
             </div>
             <div class="tile">
               <div class="title">
                 Unit Test
               </div>
             </div>
             <div class="tile">
               <div class="title">
                 Functional Test
               </div>
             </div>
           </div>
         </a>
       </dt>
    </section>

   </div>


    <div id="buildList">
    </div>
  </div><!--end of body container-->

  <script type="text/template" id="listTemp">

  <section class="<%= state %>">
    <dt>
      <a  href="">
      <ul>

        <li id="name">
        <% if(type === 'changelist') { %>
        <span class="fontawesome-table"></span>
        <% } %>
        <% if(type === 'build') { %>
        <span class="fontawesome-desktop"></span>
        <% } %>

        <%= name %></li>
        <li id="owner"><%= owner %> </li>
        <li id="timestart"><%= $.format.date(createdAt, "M/dd/yyyy h:mm a") %></li>
        <li id="state"><%= state %></li>

      </ul>
        <div class="tiles">
            <div class="tile">
              <div class="metrics1 <%= metrics %> " >
              </div>
            </div>
            <div class="tile">
              <div class="metrics2 <%= build %>">
              </div>
            </div>
            <div class="tile">
              <div class="metrics3 <%= unit_test %>">
              </div>
            </div>
            <div class="tile">
              <div class="metrics4 <%= functional_test %>">
              </div>
            </div>
        </div><!---end of tiles---->
      </a>
    </dt>

       <% if(state === 'pending') { %>

          <dd>
            <section id="pretest-info">
          <%= name %> <%= type %> is currently <%= state %>.<br>
             <button>Configure</button>
             <button>Cancel</button>
            </section>
          </dd>

          <% } %>

          <% if(state === 'running') { %>
          <dd class="running-progress">

            <progress max="100" value="33"></progress><br>
            <p> <%= App.localTime %> | This <%= type %> is currently <%= state %>.
              <button>Pause</button><button>Cancel</button>

            </p>

          </dd>
            <% } %>

          <dd class="<%= state %>">
            <div class="metrics-box" id="<%= metrics %>">
              <p>Metrics</p>
                <div class="metrics-arrow-grid">
                  <div id="metric-test">
                    <h3>34</h3>
                    <span class="entypo-up-bold"></span>
                    <p>Test</p>
                  </div>
                  <div id="metric-maintainability">
                    <h3>67</h3>
                    <span class="entypo-up-bold"></span>
                    <p>Maintainability</p>
                  </div>
                  <div id="metric-security">
                    <h3>54</h3>
                    <span class="entypo-left-bold"></span>
                    <p>Security</p>
                  </div>
                  <div id="metric-workmanship">
                    <h3>38</h3>
                    <span class="entypo-right-bold"></span>
                    <p>Workmanship</p>
                  </div>
                </div>
            </div>

            <div class="build-box" id="<%= build %>">
              <p>Build</p>
              <span class= "fontawesome-desktop">
              </span>
              <span class="fontawesome-desktop">
              </span>
              <li>Debug</li><li>Release</li>
              <div id="divLocal">
               <%= App.localTime %>
              </div>
            </div>

            <div class="unit-test-box" id="<%= unit_test %>">
              <p>Unit Test</p>
                <div class="pie" data-size="60" data-value="<%= unit_test_tests_passed %>">
                </div>
              <div id="bigpercent">
                <%= unit_test_tests_passed %>%<br>
                <span>tests passed</span>
              </div>

                <progress max="100" value="<%= unit_test_code_covered %>">
                </progress>
                <div class="bar-data">
                  <%= unit_test_code_covered %>%<br>
                  <span>code covered</span>
                </div>
            </div>

            <div class="functional-test-box" id="<%= functional_test %>">
              <p>Functional Test</p>
              <div class="pie" data-size="60" data-value="<%= functional_test_tests_passed %>">
              </div>
              <div id="bigpercent">
                <%= functional_test_tests_passed %>%<br>
                <span>tests passed</span>
              </div>

              <progress max="100" value="<%= functional_test_code_covered %>">
              </progress>
              <div class="bar-data">
                <%= functional_test_code_covered %>%<br>
                <span>code covered</span>
              </div>

            </div><!--end of functional test-->

            <div class="result-box">
              <p>
                Result:
              </p>

              <% if(type === 'changelist') { %>

              <span class="change_<%= state %>">
                Changes <%= state %>
              </span>

              <% } %>

              <h2 id="result-header" class="result_<%= result %>">
                <%= result %>
              </h2>

              <% if(result === 'Metrics-Reduction') { %>
                <button id="button">Find Issues</button>
              <% } %>

              <% if(result === 'Complete') { %>
                <button id="button">Deploy</button>
                <select>
                  <option value="Production">Production</option>
                  <option value="Sandbox">Sandbox</option>
                </select>
                <% } %>

                <% if(result === 'Auto-Merged') { %>
                  <span id="button"><span class="fontawesome-search"></span>Merged Build</span>
                <% } %>

                <% if(result === 'Incomplete') { %>
                  <span id="button">Initialize</span>
                  <% } %>
            </div>

          </dd>

        </section>

      </script>

      <script type="text/template" id="addTemp">
        <form id="addCoffee">
          <input type="text" id="coffee_name" placeholder="Item Name" />
          <button>Add Item</button>
        </form>
        <hr />
      </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

    <script type="text/javascript">
    window.App = {};
    App.Models = {};
    App.Collections = {};
    App.Views = {};
    App.Routers = {};
    </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/plugins/humane.js"></script>
        <script src="scripts/plugins/accordion.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/collection.js"></script>
        <script src="scripts/add_view.js"></script>
        <script src="scripts/list_view.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
